<% @cards.each do |card| %>
  <div class="card">
    <div class="original_txt">
      <h3>Original text:</h3>
      <p><%= card.original_text %></p>
    </div>
    <div class="translated_txt">
      <h3>Translated text</h3>
      <p><%= card.translated_text %></p>
    </div>
    <div class="review">
      <h3>Review date</h3>
      <p><%= card.review_date.strftime("%d/%m/%Y") %></p>
    </div>
  </div>
<% end %>