.card{
  background: #2F4F4F;
  box-shadow: 5px 5px 24px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 15px;
  text-align: center;
  color: white;
  .original_txt{
    padding-top: 1px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  span{
    font-style: italic;
  }
}