#container {
  margin: 48px auto;
  width: 960px;
  > section {
    clear: both;
    p {
      font-size: 22px;
    }
  }
  > header {
    margin-bottom: 46px;
    > h1 {
      float: left;
      margin: 0;
    }
  }
}

.navigation-links {
  float: right;
  li {
    display: inline-block;
    margin: 0 16px;
  }
}

// MISC
.clearfix {
  &:after {
    content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;
  }
  * html & {
    height: 1%;
  }
}

html[xmlns] {
  &.clearfix{
    display: block;
  }
}
