@mixin style-for-box {
  box-shadow: 5px 5px 24px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 15px;
  text-align: center;
  color: white;
}

#container {
  margin: 48px auto;
  width: 960px;
  > section {
    clear: both;
    p {
      font-size: 22px;
    }
  }
  > header {
    margin-bottom: 46px;
    > h1 {
      float: left;
      margin: 0;
    }
  }
  .alert {
    text-align: center;
    font-size: 20px;
  }
  .alert-right {
    color: #3CB371;
  }
  .alert-wrong {
    color: #DC143C;
  }
}

.navigation-links {
  float: right;
  li {
    display: inline-block;
    margin: 0 16px;
  }
}

.end-training {
  text-align: center;
  color:#3CB371;
}

#translate {
  margin-bottom: 10px;
}

.form-submit {
  margin-bottom: 15px;
}

.card {
  @include style-for-box;
  background: #4682B4;
  .upload-image {
    position: relative;
    top: 25px;
  }
  .original-txt {
    padding-top: 1px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  span {
    font-style: italic;
  }
}

.deck {
  background: #2E8B57;
  @include style-for-box;
  color: white;
  ul {
    li {
      list-style: none;
      display: inline;
      margin-right: 6px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

// MISC
.clearfix {
  &:after {
    content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;
  }
  * html & {
    height: 1%;
  }
}

html[xmlns] {
  &.clearfix{
    display: block;
  }
}
